{% import 'static_network/config.j2' as static_network %}
{% set baremetal_prefix = baremetal_cidr.split('/')[1] %}
{% set baremetal_gateway = static_baremetal_gateway or baremetal_cidr|network_ip(1 if create_network else -2) %}
{% if dns %}
{% set baremetal_dns = installer_ip %}
{% else %}
{% set baremetal_dns = static_baremetal_dns or baremetal_gateway %}
{% endif %}
{% set nic = 'ens192' if config_type == 'vsphere' else 'enp1s0' %}
{% set virtual_ctlplanes_nodes = [] %}
{% set virtual_workers_nodes = [] %}
{% if virtual_hub %}
{% for num in range(0, ctlplanes) %}
{% set new_ctlplane = {'ip': baremetal_ips[num]} if static_network and baremetal_ips|length > num else {} %}
{% do virtual_ctlplanes_nodes.append(new_ctlplane) %}
{% endfor %}
{% endif %}
{% if virtual_hub and workers > 0 %}
{% for num in range(0, workers) %}
{% set new_worker = {'ip': baremetal_ips[num]} if static_network and baremetal_ips|length > ctlplanes + num else {} %}
{% do virtual_workers_nodes.append(new_worker) %}
{% endfor %}
{% endif %}
{% set hosts = baremetal_ctlplanes + virtual_ctlplanes_nodes + baremetal_workers + virtual_workers_nodes %}

apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster }}
rendezvousIP: {{ rendezvous_ip|default(baremetal_ips[0]) }}
hosts:
{% for host in hosts %}
- hostname: {{ host['name']|default(cluster + "-" + loop.index0|string) }}.{{ domain }}
{% if 'disk' in host %}
  rootDeviceHints:
    deviceName: "/dev/{{ host['disk'] | basename }}"
{% elif 'hctl' in host %}
  rootDeviceHints:
    hctl: "{{ host['hctl'] }}"
{% elif 'serial' in host %}
  rootDeviceHints:
    serialNumber: "{{ host['serial'] }}"
{% elif 'wwn' in host %}
  rootDeviceHints:
    wwn: "{{ host['wwn'] }}"
{% endif %}
  interfaces:
  - macAddress: {{ baremetal_macs[loop.index0] }}
    name: {{ host['nic']|default('ens3') }}
  {% if 'ip' in host %}
  networkConfig:
   {{ static_network.config(host['ip'], baremetal_prefix, host['gateway']|default(baremetal_gateway), host['dns']|default(baremetal_dns), cluster, domain, host['nic']|default(nic)) }}
  {% elif 'network_config' in host %}
  networkConfig:
   {{ host['network_config']|replace('\n', '\n        ') }}
  {% endif %}
{% endfor %}
