openshift_image: registry.ci.openshift.org/ocp/release:4.9
domain: brown.com
cluster: emmet
bmc_user: jimi
bmc_password: hendrix
baremetal_cidr: 11.0.0.0/24
api_ip: 11.0.0.2
dns_ip: 11.0.0.3
ingress_ip: 11.0.0.4
bmc_user: root
bmc_password: calvin
masters:
- ipmi_address: 10.0.0.1
  provisioning_mac: aa:aa:aa:bb:cc:01
- ipmi_address: 10.0.0.2
  provisioning_mac: aa:aa:aa:bb:cc:02
- ipmi_address: 10.0.0.3
  provisioning_mac: aa:aa:aa:bb:cc:03
workers:
- ipmi_address: 10.0.0.4
  provisioning_mac: aa:aa:aa:bb:cc:04
