openshift_image: registry.ci.openshift.org/ocp/release:4.7
virtual: true
domain: mcfly.com
cluster: marty
ipmi_user: jimi
ipmi_password: hendrix
baremetal_cidr: 11.0.0.0/24
api_ip: 11.0.0.2
dns_ip: 11.0.0.3
ingress_ip: 11.0.0.4
workers:
- ipmi_address: 10.0.0.4
  provisioning_mac: aa:aa:aa:bb:cc:04
baremetal_macs:
- aa:bb:cc:dd:ab:01
- aa:bb:cc:dd:ab:02
- aa:bb:cc:dd:ab:03
