{% macro config(ip, prefix, gateway, dns, cluster, domain, nic, dual_ip, dual_prefix) -%}
   routes:
     config:
     - destination: {{ '::/0' if ':' in ip else '0.0.0.0/0' }}
       next-hop-address: {{ gateway }}
       next-hop-interface: {{ nic }}
   dns-resolver:
     config:
       search:
       - {{ cluster }}.{{ domain }}
       server:
       - {{ dns }}
   interfaces:
   - name: {{ nic }}
     type: ethernet
     state: up
     {{ 'ipv6' if ':' in ip else 'ipv4' }}:
       address:
       - ip: {{ ip }}
         prefix-length: {{ prefix }}
       enabled: true
     {{ 'ipv4' if ':' in ip else 'ipv6' }}:
{% if dual_ip != None %}
       address:
       - ip: {{ dual_ip }}
         prefix-length: {{ dual_prefix|default(24) }}
       enabled: true
{% else %}
       enabled: false
{%- endif -%}
{%- endmacro -%}
